.left-menu {
  min-width: 280px;
  max-width: 280px;

  label {
    display: block;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
  }
}

#form-filter {
  background-color: #fdd685;
  border: 1px solid #fdb10f;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

#form-subfilter {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;

  .pb {
    padding-bottom: 1rem;
  }
}

.form-input {
  margin-bottom: 1rem;

  input[type='text'],
  input[type='number'],
  select {
    box-sizing: border-box;
    width: 100%;
    height: 2.75rem;
    font-size: 0.85em;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.6);
  }

  input[type='text']:focus,
  input[type='number']:focus {
    box-sizing: border-box;
    outline: 2px solid #1190cd;
    color: rgba(0, 0, 0, 0.85);
  }

  .search-terms {
    display: inline-block;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    span {
      display: inline-block;
      width: 16px;
      height: 18px;
      line-height: 16px;
      text-align: center;
      margin-left: 0.4rem;
    }

    span:hover {
      color: #fdd685;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
  }

  .search-terms:hover {
    cursor: pointer;
  }

  select {
    background-color: #fff;
  }

  .min-max-price,
  .min-max-area {
    display: flex;
    justify-content: space-between;
  }

  .min-max-input {
    display: flex;
    justify-content: space-between;
    position: relative;

    .min-price,
    .max-price,
    .min-area,
    .max-area {
      position: absolute;
      display: block;
      background-color: #fff;
      padding: 5px;
      padding-right: 1px;
      font-size: 0.8rem;
      top: 18%;
      z-index: 1;
      color: rgba(0, 0, 0, 0.3);
    }

    .min-price {
      left: 5px;
    }

    .max-price {
      left: 135px;
    }

    .min-area {
      left: 85px;
      padding: 5px;
      padding-left: 2px;
    }

    .max-area {
      left: 215px;
      padding: 5px;
      padding-left: 2px;
    }

    input {
      text-align: right;
    }

    #text__min-area,
    #text__max-area {
      text-align: left;
    }

    hr {
      margin-top: 1.35rem;
      min-width: 1.15rem;
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .button-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    button {
      background-color: #fff;
      border: none;
      border-radius: 40%;
      height: 2rem;
      width: 2.5rem;
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    button:hover {
      cursor: pointer;
      background-color: rgba(214, 214, 214, 0.8);
    }

    button:active,
    button:focus {
      background-color: #1190cd;
      color: #fff;
    }
  }
}

.switcher {
  display: flex;
  flex-flow: row nowrap;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e4cf8c;
      border-radius: 34px;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: #1190cd;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #1190cd;
    }

    input:checked + .slider:before {
      transform: translateX(26px);
    }
  }

  label.switch-label {
    align-self: center;
    margin-left: 10px;
    text-transform: inherit;
    display: inline-block;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
  }
}
