@use 'navbar';
@use 'aside';
@use 'card';

body {
  font-family: 'Open Sans', sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 3rem;
  width: 1300px;
  max-width: 1300px;
}

#search-successful {
  visibility: hidden;
}

#search-failed {
  display: none;
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;

  p {
    text-transform: uppercase;
    font-weight: 600;
  }

  span {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: red;
  }
}

.search-result {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  .properties-quantity {
    padding-top: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    span {
      font-weight: 600;
    }
  }

  .properties-location {
    font-size: 0.9rem;
    display: flex;
    flex-flow: row nowrap;
    color: #1190cd;
    margin-bottom: 1.5rem;

    p {
      padding: 0.35rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 1rem;
      border: 1px solid #1190cd;
      border-radius: 15px;
    }

    p:hover {
      background-color: rgba(17, 144, 205, 0.1);
      cursor: pointer;
    }

    span {
      display: inline-block;
      width: 16px;
      height: 18px;
      line-height: 16px;
      text-align: center;
      margin-left: 0.4rem;
    }
  }
}

.menu ul {
  height: 3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #ccc;

  li {
    height: 100%;
    line-height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #1190cd;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
  }

  li:hover:not(.active) {
    background-color: rgba(17, 144, 205, 0.1);
    cursor: pointer;
  }

  .active {
    border-bottom: 4px solid #1190cd;
  }
}
